# Excercise 16

In [1]:
import pandas as pd

In [2]:
# Define the data provided in the exercise
data = {
    'Product ID': [1, 1, 2, 2],
    'Location ID': [1, 3, 1, 2],
    'Number Sold': [10, 6, 5, 22]
}

# Create a pandas DataFrame
df = pd.DataFrame(data)

# Construct the data cube using a pivot table

data_cube = df.pivot_table( index='Product ID', columns='Location ID', values='Number Sold')


print(data_cube)

Location ID     1     2    3
Product ID
1            10.0   NaN  6.0
2             5.0  22.0  NaN

The data cube is sparse because there are data combinations of location ID and product ID that do not have values.

The empty cells: 

                 (Location ID = 2, Product ID = 1)

                 (Location ID = 3, Product ID = 2)